# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Environment
**/.env
**/.venv/

# Build/Cache/Logs
**/node_modules/
**/.next/
**/tsconfig.tsbuildinfo
**/__pycache__/
**/.ruff_cache/
**/.pytest_cache/
**/*.log
**/.coverage
**/.coverage.*
**/coverage.xml
**/coverage/
