DATABASE_URL=postgresql+asyncpg://postgres:postgres@budget-db:5432/budget
KEYCLOAK_URL=http://keycloak:8080/auth
KEYCLOAK_PUBLIC_URL=http://api.alfheim.loegien.localhost/auth
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_ENDPOINT_URL=http://minio:9000
S3_BUCKET_NAME=budget-receipts
NEXT_PUBLIC_BUDGET_API_URL=http://api.alfheim.loegien.localhost/budget/api/v1
